html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}


/* Background */
body {
    background: black;
    color: white;
}

/* Header */
header {
    display: flex;
    align-items: center;
    padding: 0% ;
    background: rgb(20, 20, 20);
    box-shadow: 0 0 10px cyan;
    position: fixed;
    width: 100%;
    height: 8%;
}

.logo {
    font-size: 135%;
    padding-right: 18%;
    font-weight: bold;
    color: cyan;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin-left: 25%;   
    justify-items: end;
    padding-right: 0% ;
}

nav ul li {
    padding: 10px;
    margin: 10px;
    font-size: 110%;
    font-weight: bold;
    color: cyan;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

nav ul li a {
    color: black;
    align-items: center;
}
a{
 text-decoration: none;
    display: flex;
    justify-content: space-around;
    gap: 25%;
    padding: 2%;
    margin-top: auto; 
    background: cyan;
    width: 150px;
    height: auto;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0 0 10px cyan;
    transition: all 0.3s ease-in-out;
    
}
a:hover{
    box-shadow: 0 0 25px magenta;
    background: magenta;
}
/* Footer */
footer {
    text-align: center;
    padding: 0px;
    background: rgba(20, 20, 20, 0.8);
    color: cyan;
    box-shadow: 0 0 10px cyan;
    margin-top: 0px;
}
/* Media Queries for Responsiveness */

/* For tablets */
 @media (max-width: 912px) {
    /* Header */
    header {
        width: 100%;
        height: auto;
    }
   
    .logo {
        font-size: 24px;
        padding: 0%;
        margin: 0%;
    }
    nav ul{
        padding: 0px;
        padding-left:0%;
        margin: 0px;
    }
    nav ul li a {
        width:80px;
        height: auto;
        font-size: 12px;
        padding: 0px 0px;
        margin: 0px;
       
    }
    footer{
        width: 100%;
        height: auto;
    }
}
/* For phones */
@media (max-width: 475px) {
    /* Header */
    header {
        width: 100%;
        height: fit-content;
    }
    .logo {
        font-size: 80%;
        padding: 0%;
        margin: 0%;
        
    }
    nav ul {
       padding: 0px;
       padding-left: 27%;
       margin: 0px;
    }
    nav ul li {
        padding: 2%;
        margin: 0px;
    }
    nav ul li a {
        width: 40px;
        height: auto;
        font-size: 6px;
        
    }
    
    /* Footer */
    footer {
        padding: auto;
        font-size: xx-small;
        width: 100%;
        height: auto;
        justify-items: center;
    }
}