html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}


/* Background */
body {
    background: black;
    color: white;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 50px;
    background: rgb(20, 20, 20);
    box-shadow: 0 0 10px cyan;
    position: fixed;
    width: 100%;
    height: fit-content;
    margin-right: 15px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: cyan;
}


nav ul {
    display: flex;
    list-style: none;
    
}

nav ul li {
    margin: 0 15px;
    margin-right: 100px;
    
}

nav ul li a {
    color: black;
}
a{
 text-decoration: none;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 10px;
    flex-wrap: wrap;
    margin-top: 20px; 
    background: cyan;
    width: 150px;
    height: 25px;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0 0 10px cyan;
    transition: all 0.3s ease-in-out;
    text-align: center; 
}
a:hover{
    box-shadow: 0 0 25px magenta;
    background: magenta;
}
.tournament-section {
    padding: 100px;
}
.tournament-section h1{
    font-size: 40px;
    text-align: center;
}

.tournament-grid1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.tournament-grid2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 50px;
}
.tournament-card {
    background: #222;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px cyan;
    width: 350px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.tournament-card:hover{
    box-shadow: 0 0 25px magenta; 
}

.tournament-card img {
    width: 100%;
    border-radius: 20px;
    align-items: center;
}

.tournament-card button {
    background: cyan;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

.tournament-card button:hover {
    box-shadow: 0 0 25px magenta;
    background: magenta;
    color :#000;
}
.nomore{
    font-size: 30px;
    padding: 75px;
    margin-top: 10px;
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: rgba(20, 20, 20, 0.8);
    color: cyan;
    box-shadow: 0 0 10px cyan;
    margin-top: 50px;
}

/* Adjust navigation for mobile */
@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        padding: 10px 0;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        display: block;
        padding: 10px;
    }
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}